:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #12151E;
  width: 100%;
  height: 100%;
}
.content {
  flex-direction: column;
  width: 100%;
  height: 93.5vh;
  margin: 0px;
  background: #12151E;
}
.top-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 46.5vh;
}
.bottom-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 46.5vh;
}
.column-effect{
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 45vh;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
effective{
  width: 100%;
  height: 22.2vh;
}

download-plant{
  width: 30vw;
  height: 45vh;
  margin: 0.5%;
}

online-optimization{
  width: 50vw;
  height: 45vh;
  margin: 0.5%;
}

ecp-changes{
  width: 50vw;
  height: 46.5vh;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
}

recomendation{
  width: 49.5vw;
  height: 46.5vh;
  margin-bottom: 0.5%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#bottom-element{
  margin-top: 2%
}
